* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 1.2em;
    color: #29333d;
    font-family:  sans-serif;
    
}

button {
    cursor: pointer;
}

ul{
    list-style: none;
}